*{
    margin: 0px;
    padding: 0px;

}


#navbar {
    display: flex;
    background: black;
    border-radius: 23px;
    font-family:  cursive;
}


#navbar .logo img{
    height: 135px;
    width: 200px;
    
}
#navbar .logo{
    height: 135px;
    width: 168px;
    
}

#navbar ul{
    
    display: flex;
    margin: 25px;
    
    margin-right: auto;

    
}


#navbar ul li{
    list-style: none;
    padding: 10px;
    margin: 13px;  
    text-align: right; 
   
    
}

#navbar ul li a{
    list-style: none;
    text-decoration: none; 
    color: white;
    padding: 10px;
    font-size: 1rem;

}

#navbar ul li a:hover{
    list-style: none;
    text-decoration: none; 
    color: white;
    
    border-radius: 13px;
    
    background: #da311b;
    box-shadow: 0 0 40px #da311b, 0 0 40px #da311b , 0 0 40px #da311b ;
    
    transition: all 0.4s ease;
    font-family:  cursive;

     
}

.btn{
    height: 40px;
    width: 150px;
    margin: 40px;
    color: white;
    border-radius: 23px;
    background-color: #fccd4b;
    border: #fccd4b;
    font-family:  cursive;
    font-family: 'Nunito', sans-serif;
}

.btn:hover{
    height: 40px;
    width: 100px;
    margin: 40px;
    color: white;
    border-radius: 23px;
    background-color: rgb(15, 15, 15);
    border: #fccd4b;
    transition: all 0.5s ease;

}

#home {
    display: flex;
    flex-direction: column;
    padding: 140px 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: '';
    background: url("../pics/book-731199.jpg") no-repeat center center/cover;
    position: absolute;
    height: 80%;
    width: 100%;
    z-index:-1;
    opacity: 0.87;

}

#home h1{
    margin: 34px;
    padding: 0px;
    font-size: 3.8rem;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#home p{
    margin: 13px;
    padding: 0px;
    font-size: 1.2rem;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.connectus{
    padding: 12px;
    margin: 34px;
    
}

.connectus h1{
    padding: 12px;
    margin: 34px;
    font-size: 2.8rem;
    font-family: 'Nunito', sans-serif;
}

.connectus p{
    padding: 12px;
    ;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    font-family: 'Nunito', sans-serif;
}

#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border:  2px solid rgb(74, 110, 224);
    border-radius: 9px;
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
    
}

#contact-box form{
    width: 40%;

}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    
}
#contact-box .btnn{
    
    margin: auto;
    padding: 4px;
    display: block;
    height: 45px;
    width: 150px;
    
    color: white;
    border-radius: 23px;
    background-color: #007cba;
    border:2px solid white;
    
}
.center{
    text-align: center;
    justify-content: center;
}
#contact-box .btnn:hover{
    height: 40px;
    width: 100px;
    
    color:white;
    border-radius: 23px;
    background-color: rgb(52, 248, 52);
    border: #fccd4b;
    transition: all 0.5s ease;
}
#connect{
    background: #007cba;
    height: 300px;
    width: 100%;
}

#connect p{
    
    margin: auto;
    padding: 30px;
    justify-content: center;
    text-align: center
}

#connect .btnnn{
    
    margin: auto;
    padding: 4px;
    display: block;
    height: 40px;
    width: 150px;
    
    color: white;
    border-radius: 23px;
    background-color: #007cba;
    border:2px solid white;
    
}

#connect .btnnn:hover{
    height: 40px;
    width: 100px;
    
    color:#007cba;
    border-radius: 23px;
    background-color: white;
    border: #fccd4b;
    transition: all 0.5s ease;
}

#submission{
    background: black;
    height: 500px;
    display: flex;
}

#submission .box{
    display: inline-block;
}

#submission .box img{
    padding: 30px;
    margin: auto;
    display: block;
}

#submission p{
    color: white;
    padding: 34px;
    text-align: center;
    justify-content: center;
}

#submission h3{
    color: white;
    padding: 23px;
}

#submission ul{
    padding: 23px;
    
}

#submission ul li{
    padding: 23px;
    text-decoration: none;
    
}

#submission ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Bangers', cursive;
    
}

#copyrights{
    height: 30px;
    margin: 23px;
    font-family: 'Open Sans', sans-serif;
}